body{
    margin: 0;
}
.link-slide .slide-menu {
    width: 100%;
    display: flex;
    background: transparent;
    color: #000;
    position: absolute;
    top: 0;
    height: 100%;
}
  .link-slide .slide-menu > div{
    width: 25%;
    background: transparent;
    padding: 2vh 0px;
    float: left;
    text-align: center;
    border-right: 1px solid #fff;
    vertical-align: middle;
    font-size: 1.7vw;
    font-family: 'Russo One', sans-serif;
    position: relative;
  }
  .link-slide .slide-menu > div:last-child{
    width: 25%;
    background: transparent;
    float: left;
    text-align: center;
    border-right: 0px solid #fff;
  }
  .link-slide .slide-menu > .active{
    opacity: 0.8;
  }
  .link-slide .slide-img{
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .link-slide .slides{
    display: block;
    width: 500%;
    position: relative;
    transition-duration: 0.5s;
  }
  .link-slide .slides > div{
    float: left;
    position: relative;
    width: 20%;
    color: #fff;
    padding: 0px;
    margin: 0px;
  }
  .link-slide .slides > div > a{
    position: absolute;
    right: 0;
    bottom: 7px;
    color: #000;
    background: transparent;
    padding: 2.5vh 3.5vw;
    font-size: 1.7vw;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
  }
  .link-slide .img-slide{
    width:100%;
  }

  .wrap_txt {
    position: absolute;
    width: 100%;
    bottom: 66px;
    transition: 0.5s ease all;
}
.link-slide .slide-menu > .active .wrap_txt {
    bottom: 117px;
    transition: 0.5s ease all;
}

.wrap_txt h1 {
    margin: 0 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    text-align: left;
    font-size: 80px;
}
.active .wrap_txt h1{
    color: #fff;
}
.wrap_txt h3 {
    text-align: left;
    margin: 0 20px;
    color: #fff;
}
.wrap_txt a {
    display: none;
    transition: 0.5s ease all;
}
.active .wrap_txt a {
    display: block;
    width: 29%;
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    background: #000;
    padding: 13px 0;
    border-radius: 5px;
    margin-top: 24px;
    font-size: 22px;
    text-transform: uppercase;
    transition: 0.5s ease all;
}